

/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */
@import url('base.css');

.qti-customInteraction .wordrank .prompt {
  position:relative;
  width: 100%;
}

.qti-customInteraction .wordrank .chat {
    height: 200px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    padding:4px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.wordgame {
  padding: 10px;
  font-size: 16px;
}
.wordgame .wordgame-row {
  margin: 10px;
  text-align: center;
}
.wordgame-table table {
  margin:auto !important;
}

.wordgame .wordgame-cell {
  /* height: 32px; */
  height: 64px;
}

.wordgame .wordgame-texts {
  /* margin: 10px; */
  /* padding: 10px; */
  margin: 5px;
  padding: 5px;
}


.wordgame .wordgame-text {
  /* margin: 3px 5px; */
  margin: 03px 5px;
  font-size: 12px;
  line-height: 1.2;
  padding: 4px;
  margin: 3px;
}

.wordgame-text:hover {
  color: red;
  cursor: pointer;
}

.wordgame-cell .wordgame-text {
  margin: 0px;
}
