.qti-customInteraction .svgmap{
  width:100%;
  padding:0px;
  margin:0px;
  margin-bottom:20px;
}

.dot {
  position:absolute;
  background: white;
  border-radius: 1vw;
  z-index: 100;
  box-shadow: 0 0 0 0.11vw black;
  width: 0.4vw;
  height:0.4vw;
  border: 0.3vw solid white;
}

.dot:hover {
  background: lightgrey;
  border-color: lightgrey;
}
.dots {
  position:absolute;
  top:-0.7vw;
  left: -0.7vw;
}

.dot.svgmap-visited {
  background: black;
}


.svgmap-poi {
  background: red !important;
}

.svgmap {
  width:100%;
  position: relative;
}
.svgmap-junction {
  background: #eee;
  z-index: 101;
}
.dots {
  font-size: 1vw;
}
